<style>
.nav > li > a {
    text-decoration: none;
    background: unset;
    border-bottom: none!important;
    font-weight: normal!important;
}
#wrapper{
	margin-top:35px!important;
	margin-bottom: 35px!important;
	padding-left: unset!important;
}
#page-content{
	margin-top:35px!important;
	margin-bottom: 35px!important;
}
.modal-dialog{
	margin-top:55px!important;
}
</style>